header{
    margin-bottom: 5%;
}
.imgThumbnail{
    max-width: 100%; 
    height: auto;  
    display: block;
}
.navbar a{
    color: #ffffff !important;
    text-decoration: none;
    
}
.navbar .container .row {
    width: 100%;

}

.is-loading * {
	display: none;
}

.navbar .container .row a {
    display: inline-block;
    
}
.navbar .navbar-nav {
    width: 100%;
}
@media (max-width: 575.99px) {
    #logo {
        display: none;
    }

    #add_button{
        width: 3%;
    }
}
  
/* POST FORM */
form.postForm{
    margin: auto;
    

}
input.custom-file-input{
   /* position: absolute !important;*/
}
label.custom-file-label {

    position: relative;
    width: 100%;
    color: #432430;
    margin: auto;
    border-radius: 10px;
    border-color: #7D475A;
    border-width: 2px;

}

textarea.form-control{
    border-radius: 10px;
    border-color: #7D475A;
    border-width: 2px;
}

select.form-control{
    border-radius: 10px;
    border-color: #7D475A;
    border-width: 2px;
}

button.btn.btn-primary{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 50px;
    color: #ffffff;
    background-color: #432430;
    border: none;
    width: 100%;
}

/* LOGIN FORM */

input.form-control{
    border-radius: 10px;
    border-color: #7D475A;
    border-width: 2px;
}

h5{
    text-align: center;
}

/* PROFILE USER */

.categorie-profil{
    padding: 2px;
    display: inline-block;
}
#number-chooz{
    margin-bottom: 0;
    font-size: 20px;
}header{
    width: 100%;  
    position: fixed;  
    z-index: 1;
}
.imageChooz{
    width: 100%;
    height: 300px;
    margin-bottom: 15px;
}
h4{

    color:#7D475A;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 20px;
}
.add_button_style{
    width: 50px;
    position: fixed;
    right: 1;
    margin-right: 7%;
    bottom: 0;
    margin-bottom: 5%;
}

#space{
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 2%;
}
.house-icon-float{
    float:right;
}
.search-icon-float{
    float: left;
}
.categorie-form{
    display: inline-block;
    margin-bottom: 15px;
}

.btn-categorie{
    font-size: 14px;
}

.img-categorie{
    border-radius: 30px;
}

.form-margin{
    margin-bottom: 15%;
}
#search_bar:focus{
    z-index: -2;
}

img.img-profil{
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.profil-editor{
    margin-top: 15px;
}

#text-username{
    text-align: center;
}

.fa-pencil{
    color: black;
}
#profil_publication {
    margin-top : 10px;
}

#btn-logout{
    color: #fff !important;
}