.header_publication {
    display: inline-block;
    margin-bottom: 20px;
}

.header_publication .username{
    font-size: 20px;
    font-weight: bold;
    color: #7D475A;
}

.header_publication img{
    height: 60px;
    width: 60px;
    object-fit: cover; 
    object-position: center;
    /*object-fit: none; /* Do not scale the image */
    /*object-position: center; /* Center the image within the element */
}

.publication{
    margin-bottom: 20px;
}

.img_publication{
    border-radius: 0.5rem;
    height: 400px;
    width: 100%;
}
.exifs{
    font-size: 30px;
}

.cursor-pointer{
    cursor: pointer;
}

.header_publication span{
    font-weight: bold;
}

.exifs_popup{
    border-radius: 0.6rem !important;
}

.delete_publication{
    border-radius: 0rem 0rem 0.5rem 0.5rem !important;
    margin-bottom: 0 !important;
}
.publication_info{
    margin-top: 10px;
}
.badge-chooz {
    margin: 2px;
    font-size: 16px;
    color: #fff;
    background-color: #7D475A;
}

.btn-chooz {
    background-color: #7D475A !important;
}
.publication_chooz{
    display: inline-block;
}
.publication_logo_chooz{
    margin-left: 6px;
    width: 40px;
}

.publication_texte_chooz{
    font-size: 24px;
    color: #7D475A;
    font-weight: bold;
}

.publication_date{
    font-weight: bold;
    margin-left: 30px;
    float: right;
    color: #7D475A;

}